* {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
* .email {
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  background: transparent;
  background-color: #777;
}
* .email .email-container {
  width: 600px;
  margin: 0 auto;
  background: white;
}
* .email .email-container .header-row #header-td {
  padding: 6% 8% 0;
}
* .email .email-container .header-row #header-td #shine-logo {
  width: 40%;
}
* .email .email-container .header-row #header-td #order-number {
  float: right;
  padding-top: 13%;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #777;
  font-size: 1.6vw;
  font-weight: 500;
}
* .email .email-container .thankyou-row #thankyou-td {
  padding: 3% 8% 13%;
}
* .email .email-container .thankyou-row #thankyou-td #thankyou-header {
  font-family: sans-serif;
  color: black;
  font-size: 1.8vw;
  font-weight: 500;
}
* .email .email-container .thankyou-row #thankyou-td #thankyou-P {
  font-family: sans-serif;
  color: #777;
  font-size: 1.2vw;
  font-weight: 500;
  padding: 3% 0 10%;
}
* .email .email-container .thankyou-row #thankyou-td #v-order {
  font-family: sans-serif;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  padding: 4% 5%;
  border-radius: 5px;
  background-color: #080e66;
  text-decoration: none;
  transition: 0.2s linear;
}
* .email .email-container .thankyou-row #thankyou-td #v-order:hover {
  background-color: #0f1bbd;
}
* .email .email-container .thankyou-row #thankyou-td #thankyou-span {
  font-family: sans-serif;
  color: #555;
  font-size: 1.2vw;
  font-weight: 500;
  margin: 0 4%;
}
* .email .email-container .thankyou-row #thankyou-td #v-store {
  font-family: sans-serif;
  color: #080e66;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s linear;
}
* .email .email-container .thankyou-row #thankyou-td #v-store:hover {
  color: #0f1bbd;
}
* .email .email-container .order-row #order-td {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 8% 0;
}
* .email .email-container .order-row #order-td .order-container {
  width: 85%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}
* .email .email-container .order-row #order-td .order-container #summary-td {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 4%;
}
* .email .email-container .order-row #order-td .order-container #summary-td #order-header {
  font-family: sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: 600;
  padding-bottom: 6%;
}
* .email .email-container .order-row #order-td .order-container #summary-td #product-img-link {
  text-decoration: none;
}
* .email .email-container .order-row #order-td .order-container #summary-td #product-img-link img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  vertical-align: middle;
}
* .email .email-container .order-row #order-td .order-container #summary-td #product-link {
  float: left;
  text-decoration: none;
  font-family: sans-serif;
  color: #555;
  font-size: 16px;
  font-weight: 800;
  padding-left: 1%;
  padding-top: 3%;
}
* .email .email-container .order-row #order-td .order-container #summary-td #price {
  text-decoration: none;
  float: right;
  font-family: sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 800;
  padding-top: 2.8%;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td {
  width: 100%;
  margin: 0 auto;
  float: right;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container {
  border-spacing: 0;
  border-collapse: collapse;
  width: 65%;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .subtotal-row #subtotal-td {
  padding-top: 8%;
  padding-bottom: 3%;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .subtotal-row #subtotal-td #subtotal-title {
  float: left;
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 500;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .subtotal-row #subtotal-td #subtotal {
  float: right;
  font-family: sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 800;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .shipping-row #shipping-td {
  padding-bottom: 6%;
  border-bottom: 1px solid #bfbfbf;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .shipping-row #shipping-td #shipping-title {
  float: left;
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 500;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .shipping-row #shipping-td #shipping {
  float: right;
  font-family: sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 800;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .grand-total-row #grand-total-td {
  padding-top: 6%;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .grand-total-row #grand-total-td #grand-total-title {
  float: left;
  padding-top: 2%;
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 500;
}
* .email .email-container .order-row #order-td .order-container .total-row #total-td .total-container .grand-total-row #grand-total-td #grand-total {
  float: right;
  font-family: sans-serif;
  color: #555;
  font-size: 28px;
  font-weight: 800;
}
* .email .email-container .customer-info-row #customer-info-td {
  padding: 7% 8%;
}
* .email .email-container .customer-info-row #customer-info-td #customer-info-title {
  font-family: sans-serif;
  color: black;
  font-size: 24px;
  font-weight: 500;
}
* .email .email-container .customer-info-row #customer-info-td .info-container {
  width: 100%;
  margin: 0 auto;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td {
  width: 50%;
  padding: 4% 0;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td #shipping-address-title {
  font-family: sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 600;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td #shipping-name {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  padding: 1.5% 0;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td #shipping-street {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td #shipping-city-state {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  padding: 1.5% 0;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td #shipping-zip {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td #shipping-method-title {
  font-family: sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 600;
  padding: 16% 0 1.5%;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #shipping-info-td #shipping-method {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td {
  width: 50%;
  padding: 4% 0;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-address-title {
  font-family: sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 600;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-name {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  padding: 1.5% 0;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-street {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-city-state {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  padding: 1.5% 0;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-zip {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-method-title {
  font-family: sans-serif;
  color: #555;
  font-size: 18px;
  font-weight: 600;
  padding: 16% 0 1.5%;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-method {
  font-family: sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 400;
}
* .email .email-container .customer-info-row #customer-info-td .info-container .info-row #billing-info-td #billing-method span {
  font-weight: 700;
  color: #555;
}
* .email .email-container .footer-row #footer-td {
  border-top: 1px solid #bfbfbf !important;
  padding: 6% 0 3%;
}
* .email .email-container .footer-row #footer-td #footer-statement {
  padding-left: 8%;
  font-family: sans-serif;
  color: #777;
  font-size: 1.1vw;
  font-weight: 500;
}
* .email .email-container .footer-row #footer-td #contact-link {
  padding-left: 8%;
  font-family: sans-serif;
  color: #080e66;
  font-size: 1.1vw;
  font-weight: 500;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
